<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>

  <form action="/team" method="POST">
<ul>


   <li><label>Team Name: <input type="text" name="name" /></label></li>
   <li><label>Coach: <input type="text" name="coach" /></label></li>
   <li><label>Point Guard: <input type="text" name="pg" /></label></li>
   <li><label>Shooting Guard: <input type="text" name="sg" /></label></li>
   <li><label>Small Forward: <input type="text" name="sf" /></label></li>
   <li><label>Power Forward: <input type="text" name="pf" /></label></li>
   <li><label>Center: <input type="text" name="c" /></label></li>
   <input type="submit" value="Submit">
   </ul>
 </form>


 </head>
 <body>
 </body>
</html>
